/* .grey-bg{
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.25);
    z-index: -10;
    top: 0;
    left: 0;
} */

.comment-box {
    position: absolute;
    left: 38%;
    z-index: 200;
}

h3 {
    left: 80%;
}
